#share {
    background-color:#5D7DAE;
    height:24px;
    width: 80px;
  }

  #share a.click {
    font-size:13px;
    font-weight:bold;
    text-align:center;
    color:#fff;
    border:1px solid #FFF;
    background-color:#5D7DAE;
    padding: 2px 10px;
    cursor: pointer;
    text-decoration:none;
    width:80px;
    display:block;
  }